#main {
  margin: auto;
  margin-top: 50px;
  border-style: solid;
  border-radius: 10px;
  border-color: black;
  text-align: center;
  background-color: #d192ff;
  width: 500px;
  height: 500px;
}

/* 채팅 영역 */
#chat {
  height: 87%;
  width: 100%;
  overflow-y: auto;

}


  /* 접속 알림 */
.connect {
  width: 90%;
  margin: auto;
  background-color: yellow;
  border-radius: 5px;
  text-align: center;
  margin-top: 8px;
}

/* 접속 종료 알림 */
.disconnect {
  width: 90%;
  margin: auto;
  background-color: indianred;
  border-radius: 5px;
  text-align: center;
  margin-top: 8px;
}

/* 내가 보낸 메시지 */
.me {
  width: 90%;
  margin: auto;
  background-color: #8fff4d;
  text-align: right;
  padding-top: 2px;
  border-radius: 5px;
  margin-top: 8px;
}

/* 상대방이 보낸 메시지 */
.other {
  width: 90%;
  margin: auto;
  background-color: white;
  text-align: left;
  border-radius: 5px;
  margin-top: 8px;
}